{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'MailClient | Inbox' %}
{% set contentId = 'Inbox' %}

{% block pageContent %}
    <h1>Inbox</h1>
{% endblock %}