{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'MailClient | Inbox' %}
{% set contentId = 'Inbox' %}

{% block pageContent %}
    <h1>Inbox</h1>
    <ul id="mails">
        <li>
            <ul id="header">
                <li class="from">From</li>
                <li class="subject">Subject</li>
                <li class="received">Received</li>
            </ul>
        </li>
    {% for mail in mails %}
        <li>
            <ul class="mail">
                <li class="from">{{ mail.from }}</li>
                <li class="subject">{{ mail.subject }}</li>
                <li class="received">{{ mail.udate }}</li>
            </ul>
        </li>
    {% endfor %}
    <ul>
{% endblock %}