{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'MailClient | Login' %}
{% set contentId = 'Login' %}

{% block pageContent %}
    <h1>Login</h1>
{% endblock %}