{# extend the parent tpl #}
{% extends 'layout.twig' %}

{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'MailClient | Login' %}
{% set contentId = 'Login' %}

{% block pageContent %}
        <h1>Login</h1>
        <form id="login" class="blue clearfix" action="login" method="post">
            {{ form_widget(form) }}
            <input type="submit" name="submit" value="Login"/>
            {% if error is defined %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </form>

{% endblock %}